<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>iphone</string>
		<key>keys</key>
		<array>
			<string>iPhone</string>
		</array>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>10</integer>
			<key>green</key>
			<integer>143</integer>
			<key>blue</key>
			<integer>236</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>ipad</string>
		<key>keys</key>
		<array>
			<string>iPad</string>
		</array>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>10</integer>
			<key>green</key>
			<integer>143</integer>
			<key>blue</key>
			<integer>236</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>appleTV</string>
		<key>keys</key>
		<array>
			<string>Apple TV</string>
		</array>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>252</integer>
			<key>green</key>
			<integer>85</integer>
			<key>blue</key>
			<integer>186</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>macbook</string>
		<key>keys</key>
		<array>
			<string>MacBook</string>
		</array>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>35</integer>
			<key>green</key>
			<integer>198</integer>
			<key>blue</key>
			<integer>164</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>desktop</string>
		<key>keys</key>
		<array>
			<string>Mac</string>
		</array>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>157</integer>
			<key>blue</key>
			<integer>69</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>androidPhone</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>148</integer>
			<key>green</key>
			<integer>198</integer>
			<key>blue</key>
			<integer>26</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>androidTablet</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>148</integer>
			<key>green</key>
			<integer>198</integer>
			<key>blue</key>
			<integer>26</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>gameConsole</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>134</integer>
			<key>green</key>
			<integer>68</integer>
			<key>blue</key>
			<integer>220</integer>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>undefined</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>10</integer>
			<key>green</key>
			<integer>143</integer>
			<key>blue</key>
			<integer>236</integer>
		</dict>
	</dict>
</array>
</plist>
